* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #ebdef6;
	color: #1d1d1d;

}

.contenedor {
	
	margin: 30px auto 80px auto;	
	width: 1280px;	   
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 30px;	

    
}


.titulocard {
	font-size: 16px;
	font-weight: 600;
}
.subtitulocard {
	font-size: 12px;
	font-weight: 600;
}

.poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}
.card {
    border-radius: 30px;
    text-align: center;	
	border-width: 10px;
	border-color: #c88dff;
	
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #a0a3fc;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}


.tituloprincipal {
text-align: center;
text-transform: uppercase;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top: 25px;
}

